.navbar{
    background-color: rgb(14, 30, 119);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}
.navbar__right{
    margin-left: 15px;
}
.navbar__link{
    text-decoration: none !important;
    color: aliceblue;  
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid;
}
.navbar__right > .navbar__link :hover{
    color: white;
    font-size:210%;
}
.navbar__left > .navbar__link :hover{
    color: white;
    font-size:110%;
}
.navbar__left{
    display: flex;
    margin-right: 20px;
}
.navbar__left > p {

}